fastapi
uvicorn
motor
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
numpy
python-dotenv
requests
opencv-python
email-validator
# face_recognition # requires dlib, install manually if possible
